# Ignore node_modules in frontend and backend
node_modules/

# Ignore package-lock.json in frontend and backend
package-lock.json

# Ignore ZIP files
*.zip

# Ignore environment files
.env

# Ignore OS and editor-specific files
.DS_Store
.vscode/
